{% extends tree_list_parent_template|default:"admin/change_list.html" %}
{% load i18n %}


{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
(function($) {
  // get current state of the tree
  tree_list.tree_structure = {{ tree_list_structure|default:"{}" }};
})(django.jQuery);
</script>
{% endblock %}


{% block object-tools-items %}
<li>
  <a id="treelist-expand-collapse-tree" href="#"
     title="{% trans 'Press Ctrl+Shift+Right to expand and Ctrl+Shift+Left to collapse tree.'% }">
    {% trans 'Expand/Collapse tree' %}
  </a>
</li>
{{ block.super }}
{% endblock %}
