#result_list tr:hover { background-color: #ffffcc !important; }
#result_list tr:focus { background-color: #c4dce8 !important; outline: 0px; }
#result_list tr.tree_list_cut,
#result_list tr.tree_list_cut:focus { background-color: #f5dd5d !important; }
#result_list a.tree_list_paste_target { display: none; }

.indented_short_title { overflow: hidden; display: block; padding-left: 4px; }

/*
  Images takes from https://www.flaticon.com.
  leaf:
    https://www.flaticon.com/free-icon/circular-shape-silhouette_25444
  right and down (rotated):
    https://www.flaticon.com/free-icon/right-arrow-in-circular-button_56814
*/

.tree_list_node_marker { float: left; width: 12px; height: 12px; margin-top: 2px; }
.tree_list_node_indent { float: left; }
.tree_list_node_leaf {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 438.533 438.533' style='enable-background:new 0 0 438.533 438.533;' xml:space='preserve' class=''%3E%3Cg%3E%3Cg%3E%3Cpath d='M409.133,109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.736,9.801,259.058,0,219.273,0 c-39.781,0-76.47,9.801-110.063,29.407c-33.595,19.604-60.192,46.201-79.8,79.796C9.801,142.8,0,179.489,0,219.267 c0,39.78,9.804,76.463,29.407,110.062c19.607,33.592,46.204,60.189,79.799,79.798c33.597,19.605,70.283,29.407,110.063,29.407 s76.47-9.802,110.065-29.407c33.593-19.602,60.189-46.206,79.795-79.798c19.603-33.596,29.403-70.284,29.403-110.062 C438.533,179.485,428.732,142.795,409.133,109.203z' data-original='%23000000' class='active-path' data-old_color='%23447E9B' fill='%23C4C4C4'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
}
.tree_list_node_opened {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 963 963' style='enable-background:new 0 0 963 963;' xml:space='preserve'%3E%3Cg transform='matrix(6.12323e-17 1 -1 6.12323e-17 963 0)'%3E%3Cg%3E%3Cpath d='M0,481.5C0,747.4,215.6,963,481.5,963C747.4,963,963,747.4,963,481.5C963,215.6,747.4,0,481.5,0C215.5,0,0,215.6,0,481.5z M691.601,543.3L478.2,776.601C460.4,796,436.101,805.8,411.8,805.8c-21.699,0-43.5-7.8-60.699-23.6 c-36.7-33.6-39.2-90.5-5.601-127.2l157.8-172.399L340.601,305.3c-33.601-36.6-31.101-93.6,5.5-127.2 c36.6-33.6,93.6-31.1,127.199,5.5l218.2,238.1C723,456.101,723.101,508.9,691.601,543.3z' data-original='%23000000' class='active-path' data-old_color='%23447e9b' fill='%23447e9b'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
}
.tree_list_node_closed {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 963 963' style='enable-background:new 0 0 963 963;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M0,481.5C0,747.4,215.6,963,481.5,963C747.4,963,963,747.4,963,481.5C963,215.6,747.4,0,481.5,0C215.5,0,0,215.6,0,481.5z M691.601,543.3L478.2,776.601C460.4,796,436.101,805.8,411.8,805.8c-21.699,0-43.5-7.8-60.699-23.6 c-36.7-33.6-39.2-90.5-5.601-127.2l157.8-172.399L340.601,305.3c-33.601-36.6-31.101-93.6,5.5-127.2 c36.6-33.6,93.6-31.1,127.199,5.5l218.2,238.1C723,456.101,723.101,508.9,691.601,543.3z' data-original='%23000000' class='active-path' data-old_color='%23447e9b' fill='%23447e9b'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
}
